    <h2>Federal Legislation</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% @bills.each do |bill| %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading<%= bill['bill_id'] %>">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= bill['bill_id'] %>" aria-expanded="false" aria-controls="collapse<%= bill['bill_id'] %>">
                <span><b><%= bill["bill_id"].upcase %></b>: <%= bill["official_title"] %></span>
              </a>
            </h4>
          </div>
          <div id="collapse<%= bill['bill_id'] %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%= bill['bill_id'] %>">
            <!-- panel-body -->
            <div class="panel-body">
              <div class="container content-sm">
                <div class="table-search-v2 margin-bottom-30">
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>Congress</th>
                          <th>Bill ID</th>
                          <th>Sponsor</th>
                          <th># of Cosponsors</th>
                          <th>Summary</th>
                          <th>Subjects</th>
                          <th>Introduced Date</th>
                          <th>Latest Major Action</th>
                          <th>Follow</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <p><%= bill["congress"] %></p>
                          </td>
                          <td>
                            <p><%= bill["bill_id"].upcase %></p>
                          </td>
                          <td>
                            <div class="user-names">
                              <p><%= bill["sponsor"]["title"] %> <%= bill["sponsor"]["first_name"] %> <%= bill["sponsor"]["last_name"] %></p>
                            </div>
                            <div>
                              <p><%= bill["sponsor"]["party"] %> - <%= bill["sponsor"]["state"] %></p>
                            </div>
                          </td>
                          <td>
                            <p><%= bill["cosponsors_count"] %></p>
                          </td>
                          <td class="td-width">
                            <p><%= bill["summary_short"] %></p>
                          </td>
                          <td>
                            <p><%= bill["keywords"] %></p>
                          </td>
                          <td>
                            <p>Introduced on <%= bill["introduced_on"] %></p>
                          </td>
                          <td>
                            <p><%= bill["last_action_at"] %></p>
                          </td>
                          <td>
                            <form action="/user_bills" method="post">
                              <input type="hidden" name="official_title" value="<%= bill["official_title"] %>">
                              <input type="hidden" name="user_id" value="<%= current_user.id %>">
                              <input type="hidden" name="bill_id" value="<%= bill["bill_id"] %>">
                              <button type="submit" class="btn btn-primary">
                                <i class="fa fa-plus-square-o fa-2x"></i>
                              </button>
                            </form>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- End panel-body -->
          </div>
        </div>
      <% end %>
    </div>