<h2>Bill Detail</h2>
<p>Title: <%= @bill.title %></p>
<p>Number: <%= @bill.number %></p>
<p>Congress: <%= @bill.congress %></p>
<p>Bill uri: <%= @bill.bill_uri %></p>
<p>Sponsor ID: <%= @bill.sponsor_id %></p>
<p>Introduced Date: <%= @bill.introduced_date %></p>
<p>Cosponsors: <%= @bill.cosponsors %></p>
<p>Committees: <%= @bill.committees %></p>
<p>Latest Major Action Date: <%= @bill.latest_major_action_date %></p>
<p>Latest Major Action: <%= @bill.latest_major_action %></p>
<p>Sponsor uri: <%= @bill.sponsor_uri %></p>
<p>GPO PDF: <%= @bill.gpo_pdf_uri %></p>
<p>House Passage Vote: <%= @bill.house_passage_vote %></p>
<p>Senate Passage Vote: <%= @bill.senate_passage_vote %></p>