<div><em>Welcome, </em><bold><%= current_user.first_name %></bold></div>
<a href="/user_bills">See <bold>your</bold> bills</a>

<h2>Bill Detail</h2>

<!-- Begin Table Search v2 -->

  <div class="table-search-v2 margin-bottom-30">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Bill Number</th>
            <th class="hidden-sm">Title</th>
            <th>Sponsor</th>
            <th>Introduced Date</th>
            <th>Cosponsors</th>
            <th>Committees</th>
            <th>Latest Major Action Date</th>
            <th>Latest Major Action</th>
            <th>House Passage Vote</th>
            <th>Senate Passage Vote</th>
            <th>Versions</th>
            <th>PDF</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td>
              <div class="user-names">
                <span><a href="/bills/<%= (@bill["bill_uri"]).gsub('/', '-') %>"><%= @bill["bill"] %></a></span>
                <%= form_tag "/user_bills", method: :post do %>
                  <div>
                    <%= hidden_field_tag :bill_id, @bill["bill_id"] %>
                  </div>
                  <div>
                    <%= hidden_field_tag :bill, @bill["bill"] %>
                  </div>
                  <div>
                    <%= hidden_field_tag :official_title, @bill["official_title"] %>
                  </div>
                  <%= submit_tag "Add +" %>
                <% end %>
              </div>
            </td>
            <td class="td-width">
              <p><%= @bill["title"] %></p>
            </td>
            <td>
              <p><%= @bill["sponsor"] %></p>
            </td>
            <td>
              <p><%= @bill["introduced_date"] %></p>
            </td>
            <td>
              <p><%= @bill["cosponsors"] %></p>
            </td>
            <td>
              <p><%= @bill["committees"] %></p>
            </td>
            <td>
              <p><%= @bill["latest_major_action_date"] %></p>
            </td>
            <td>
              <p><%= @bill["latest_major_action"] %></p>
            </td>
            <td>
              <p><%= @bill["house_passage_vote"] %></p>
            </td>
            <td>
              <p><%= @bill["senate_passage_vote"] %></p>
            </td>
            <td>
              <p><%= @bill["versions"] %></p>
            </td>
            <td>
              <a href="<%= @bill["gpo_pdf_uri"] %>">Bill PDF</a>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
<!-- End Table Search v2 -->



<a href="/bills"><img src="https://media.giphy.com/media/tIJGdiUQAa5TG/giphy.gif" id="bill-img">Back to Search</a>