  


<div class="wrapper">
    <!--=== Profile ===-->
    <div class="container content profile">
      <div class="row">
        <!--Left Sidebar-->
        <div class="col-md-3 md-margin-bottom-40">
          <img class="img-responsive profile-img margin-bottom-20" src="https://media.giphy.com/media/tIJGdiUQAa5TG/giphy.gif" alt="">
          <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
            <li class="list-group-item active">
              <a href="page_profile.html"><i class="fa fa-bar-chart-o"></i> Overall</a>
            </li>
            <li class="list-group-item">
              <a href="page_profile_me.html"><i class="fa fa-user"></i> Profile</a>
            </li>
            <li class="list-group-item">
              <a href="page_profile_users.html"><i class="fa fa-group"></i> Users</a>
            </li>
            <li class="list-group-item">
              <a href="page_profile_projects.html"><i class="fa fa-cubes"></i> My Projects</a>
            </li>
            <li class="list-group-item">
              <a href="page_profile_comments.html"><i class="fa fa-comments"></i> Comments</a>
            </li>
            <li class="list-group-item">
              <a href="page_profile_history.html"><i class="fa fa-history"></i> History</a>
            </li>
            <li class="list-group-item">
              <a href="page_profile_settings.html"><i class="fa fa-cog"></i> Settings</a>
            </li>
          </ul>

          <!--Datepicker-->
          <form action="#" id="sky-form2" class="sky-form">
            <div id="inline-start"></div>
          </form>
          <!--End Datepicker-->
        </div>
        <!--End Left Sidebar-->

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <form action="/checkpoint_actions" method="post">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Create New Action</h4>
                </div>
                <div class="modal-body">
                  <div>
                    <input list="actions" name="action_id">
                      <datalist id="actions">
                        <option value="1">Call
                        <option value="2">Write
                        <option value="3">Email
                        <option value="4">Attend
                        <option value="5">Register
                        <option value="6">Volunteer
                        <option value="7">Organize
                        <option value="8">Vote
                      </datalist>
                  </div>

                  <div class="input-group margin-bottom-20">
                    <span class="input-group-addon rounded-left"><i class="icon-pencil"></i></span>
                    <input type="text" name="description" class="form-control rounded-right" placeholder="Description">
                  </div>

                  <div class="input-group margin-bottom-20">
                    <span class="input-group-addon rounded-left"><i class="icon-calendar"></i></span>
                    <input type="date" name="date" class="form-control rounded-right" placeholder="Due Date">
                  </div>

                  <div class="input-group margin-bottom-20">
                    <span class="input-group-addon rounded-left"><i class="icon-pencil"></i></span>
                    <input type="number" name="user_bill_id" class="form-control rounded-right" placeholder="params[:user_bill_id]" id="modal-user-bill-id">
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- End of Modal -->

        <!--Begin New Table-->
          <h3>My Federal Legislation</h3>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <% @user_bills.each do |user_bill| %>
              <% userbill_detail = Unirest.get("https://congress.api.sunlightfoundation.com/bills?bill_id=#{user_bill.bill_id}&fields=type,chamber,committee_ids,congress,cosponsors_count,enacted_as,history,introduced_on,last_action_at,last_version,last_version_on,last_vote_at,official_title,popular_title,related_bill_ids,short_title,sponsor,sponsor_id,urls,withdrawn_cosponsors_count,keywords,summary,summary_short").body %>
              <% userbill_detail["results"].each do |result| %>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading<%= user_bill.bill_id %>">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= user_bill.bill_id %>" aria-expanded="true" aria-controls="collapse<%= user_bill.bill_id %>" >
                        <p><b><%= result["bill_id"].upcase %></b>: <%= result["official_title"] %></p>
                      </a>
                    </h4>
                  </div>
                  <div id="collapse<%= user_bill.bill_id %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%= user_bill.bill_id %>">
                    <div class="panel-body">
                      <table class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>Congress</th>
                            <th>Bill ID</th>
                            <th>Sponsor</th>
                            <th># of Cosponsors</th>
                            <th class="hidden-sm">Summary</th>
                            <th>Introduced Date</th>
                            <th>Latest Major Action</th>
                            <th>Add/See Actions</th>
                            <th>Delete?</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <p><%= result["congress"] %></p>
                            </td>
                            <td>
                              <p><%= result["bill_id"].upcase %></p>
                            </td>
                            <td>
                              <div class="user-names">
                                <p><%= result["sponsor"]["title"] %> <%= result["sponsor"]["first_name"] %> <%= result["sponsor"]["last_name"] %></p>
                              </div>
                            </td>
                            <td>
                              <p><%= result["cosponsors_count"] %></p>
                            </td>
                            <td class="td-width">
                              <p><%= result["summary_short"] %></p>
                            </td>
                            <td>
                              <p>Introduced on <%= result["introduced_on"] %></p>
                            </td>
                            <td>
                              <p><%= result["last_action_at"] %></p>
                            </td>                 
                            <td>
                              
                              <!-- Button trigger modal -->
                              <button type="button" class="btn btn-primary btn-sm open-modal" data-bill-id="<%= user_bill.id %>">
                                <i class="fa fa-plus-square-o fa-2x"></i>
                              </button>
                              <a class="btn btn-primary btn-sm" role="button" href="/checkpoint_actions/<%= user_bill.id %>"><i class="fa fa-eye fa-2x"></i>
                              </a>
                              <div class="collapse" id="collapseExample">
                                <div class="well">
                                  WH
                                </div>
                              </div>
                            </td>
                            <td>
                              <%= link_to "/user_bills/#{user_bill.id}", method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
                                <i class="fa fa-trash fa-2x"></i>
                              <% end %>
                            </td>
                          </tr>
                          <tr>
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                <span class="sr-only">45% Complete</span>
                              </div>
                            </div>
                          </tr>
                        </tbody>
                      </table>
                    </div><!-- PANEL BODY -->`
                  </div><!-- IDcollapse -->
                </div><!-- Panel Panel Default -->
              <% end %>
            <% end %>
          </div><!-- panel-group -->
          <!--End New Table-->
      </div><!-- row -->
    </div><!-- container content profile -->
      <!-- End Profile Content -->
  </div><!-- wrapper -->
  <!--/container-->
    <!--=== End Profile ===-->

  <!--/wrapper-->

 

<div>
  <a href="/bills"><img src="https://media.giphy.com/media/tIJGdiUQAa5TG/giphy.gif" id="bill-img">Search Bills</a>
</div>
<div>
  <a href="/logout">Log out!</a>
</div>
