<h2><%= current_user.first_name %>'s Billz!</h2>

<% @user_bills.each do |user_bill| %>
  <div>
    <a href="/user_bills/<%= (user_bill.bill_uri).gsub('/', '-') %>"><%= user_bill.bill %></a>
    <h4><%= user_bill.title %></h4>
    <div> 
      <%= link_to "Remove Bill", "/user_bills/#{user_bill.id}", method: :delete %>
    </div>
    <div>------------------------------------------------</div>
  </div>
<% end %>

<a href="/bills"><img src="https://media.giphy.com/media/tIJGdiUQAa5TG/giphy.gif" id="bill-img">Search Bills</a>
<a href="/logout">Log out!</a>
